RewriteEngine On
Options All -Indexes

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_URI} !^/index.php$
RewriteRule ^(.*)$ index.php [L,QSA]
